{% extends 'base.html.twig' %}

{% block title %}JsonEvent index{% endblock %}

{% block body %}
    <h1>JsonEvent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for json_event in json_events %}
            <tr>
                <td>{{ json_event.id }}</td>
                <td>{{ json_event.name }}</td>
                <td>{{ json_event.value }}</td>
                <td>
                    <a href="{{ path('app_json_event_show', {'id': json_event.id}) }}">show</a>
                    <a href="{{ path('app_json_event_edit', {'id': json_event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_json_event_new') }}">Create new</a>
{% endblock %}
